<div class="verify-account-description-container">
  <div class="verify-account-description-title-container">
    <h2 class="verify-account-description-title">
      {{ status + '-title' | translate }}
    </h2>
  </div>

  <div class="verify-account-description-icon-container">
    <i
      [class]="'verify-account-description-icon' + ' ' + icon + ' ' + getSuccessfulMessage()">
    </i>
  </div>

  <div class="verify-account-description-details-container">
    @if(status === 'success') {
      <span class="background-color-message">
        <i class="fa-solid fa-check-circle"></i>
        {{ status + '-description'  | translate }}
      </span>
    } @else if(status === 'invalid-token') {
      <span class="background-color-message">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{ status + '-description'  | translate }}
        <a ref="" (click)="$event.preventDefault(); resendVerificationEmail()"></a>
      </span>
    } @else {
      <span class="background-color-message">
        <i class="fa-solid fa-circle-exclamation"></i>
        {{ status + '-description'  | translate }}
      </span>
    }
  </div>

  @if(showReturnToLogin) {
    <div class="verify-account-description-redirect">
      <button
        type="button"
        class="btn-primary btn-redirect btn-wide"
        (click)="returnToLoginClick()">
        {{ 'verify-account.redirect-to-login' | translate }}
      </button>
    </div>
  }
</div>
