<app-form-description
  [type]="'forgot-password'">
</app-form-description>

<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-fields-container">
      <div class="input-group">
        <label
          for="email"
          class="label-primary"
          [class.required-asterisk]="isControlRequired('email')">
          {{'login-form.email-label' | translate}}
        </label>
        <input
          id="email"
          name="email"
          class="input-text-primary"
          type="email"
          [placeholder]="'login-form.email-placeholder' | translate"
          formControlName="email"/>
        <app-control-error [control]="form.get('email')!"></app-control-error>
      </div>

      <div class="form-actions-btns-container">
        <button
          type="submit"
          class="btn-primary btn-submit"
          [disabled]="!isFormValid()">
          {{'forgot-password-form.send-verification-email' | translate}}
        </button>
      </div>

      @if(submitMessage) {
        <div class="submit-errors-container">
          <app-form-submit-detail
            [message]="submitMessage"
            [success]="success!">
          </app-form-submit-detail>
        </div>
      }

      <div class="redirect-link-container">
        <a class="redirect-link" href="" routerLink="../reset-password">{{'forgot-password-form.back-to-login' | translate}}</a>
      </div>
    </div>
  </form>
</div>
