:root {
  --color-primary: #6d08f1;
  --color-primary-dark: #4c01ae;
  --color-primary-faded: #b68ef5;
  --color-primary-more-faded: #e9cdff;
  --color-primary-darker: #4c01ae;
  --color-primary-light: #f3ebff;
  --color-background: #ffffff;
  --color-background-faded: #cfcaca;
  --color-success: #3cb63c;
  --color-success-faded: #c5fbc5;
  --color-error: #f44336;
  --color-error-faded: #ea9090;
  --color-gray: #777272;
  --color-text: #1b1919;
  --color-disabled: #cccccc;
  --color-white-text: #ffffff;
  --color-black-text: #000000;
  --color-placeholder: #aaaaaa;
  --color-primary-hover: #5b06c9;
  font-family: 'Inter', sans-serif;
}
