<div class="redirect-widget-content">
  <div class="redirect-widget-title-container">
    <h2 class="redirect-widget-title">
      {{ 'reset-password-form.invalid-token-title' | translate }}
    </h2>
  </div>

  <div class="redirect-widget-icon-container">
    <i
      class="redirect-widget-icon error-message fa-solid fa-link-slash">
    </i>
  </div>

  <div class="redirect-widget-details-container">
    <span class="background-color-message">
      <i class="fa-solid fa-circle-exclamation error-message"></i>
      {{ 'reset-password-form.invalid-token-description' | translate }}
    </span>
  </div>

  <div class="redirect-widget-redirect">
    <button
      type="button"
      class="btn-primary redirect-widget-btn"
      (click)="returnToLoginClick()">
      {{ 'reset-password-form.redirect-to-login' | translate }}
    </button>
  </div>
</div>
