<div class="sidebar-container">
  <div
    class="sidebar-item"
    [class.sidebar-item-selected]="selectedSidebarItem === 'dashboard'"
    (click)="goToPage('dashboard')"
  >
    <i class="fa-solid fa-house sidebar-item-icon"></i>
    <span class="sidebar-item-title">{{ 'sidebar.dashboard' | translate }}</span>
  </div>

  <div
    class="sidebar-item"
    [class.sidebar-item-selected]="selectedSidebarItem === 'review-dataset'"
    (click)="goToPage('review-dataset')"
  >
    <i class="fa-solid fa-layer-group sidebar-item-icon"></i>
    <span class="sidebar-item-title">{{ 'sidebar.review-dataset' | translate }}</span>
  </div>
</div>
