<div class="redirect-widget-content">
  <div class="redirect-widget-title-container">
    <h2 class="redirect-widget-title">
      {{ 'reset-password-form.title' | translate }}
    </h2>
  </div>

  <div class="redirect-widget-icon-container">
    <i
      class="redirect-widget-icon success-message fa-solid fa-key">
    </i>
  </div>

  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-fields-container">
        <div class="input-group">
          <label
            for="password"
            class="label-primary"
            [class.required-asterisk]="isControlRequired('password')">
            {{'reset-password-form.password-label' | translate}}
          </label>
          <div class="password-input-container">
            <input
              id="password"
              name="password"
              class="input-text-primary input-password-primary"
              [type]="isPasswordVisible ? 'text' : 'password'"
              [placeholder]="'reset-password-form.password-placeholder' | translate"
              formControlName="password"/>
            <i
              class="toggle-password-visibility fas"
              [class.fa-eye-slash]="!isPasswordVisible"
              [class.fa-eye]="isPasswordVisible"
              (click)="togglePasswordVisibility()">
            </i>
          </div>
          <app-control-error
            [control]="form.get('password')!">
          </app-control-error>
        </div>

        <div class="input-group">
          <label
            for="confirm-password"
            class="label-primary"
            [class.required-asterisk]="isControlRequired('confirmPassword')">
            {{'reset-password-form.confirm-password-label' | translate}}
          </label>
          <div class="password-input-container">
            <input
              id="confirm-password"
              name="confirmPassword"
              class="input-text-primary input-password-primary"
              [type]="isConfirmPasswordVisible ? 'text' : 'password'"
              [placeholder]="'reset-password-form.confirm-password-placeholder' | translate"
              formControlName="confirmPassword"/>
            <i
              class="toggle-password-visibility fas"
              [class.fa-eye-slash]="!isConfirmPasswordVisible"
              [class.fa-eye]="isConfirmPasswordVisible"
              (click)="toggleConfirmPasswordVisibility()">
            </i>
          </div>
          <app-control-error
            [control]="form.get('confirmPassword')!">
          </app-control-error>
        </div>
      </div>

      <div class="form-actions-btns-container">
        <button
          type="submit"
          class="btn-primary btn-submit"
          [disabled]="!isFormValid()">
          {{ 'reset-password-form.reset-password' | translate }}
        </button>
      </div>

      @if(submitMessage) {
        <div class="submit-errors-container">
          <app-form-submit-detail
            [message]="submitMessage"
            [success]="success!">
          </app-form-submit-detail>
        </div>
      }
    </form>
  </div>
</div>
