.dashboard-container {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.dashboard-searchbar-container {
  width: 100%;
  height: 4vh;
}

.videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.5rem;
  width: 100%;
}
