<div class="portal-container">
  <div class="login-form">
    <div class="portal-logo">
      <img class="portal-logo-img-container" src="/assets/images/logo-removebg.png" alt="VioLens">
    </div>
    <app-form-description
      [type]="form">
    ></app-form-description>
    @switch (form) {
      @case ('login') {
        <app-login-form
          (formChange)="switchForm($event)">
        ></app-login-form>
      }
      @case ('register') {
        <app-register-form
          (switch)="switchForm($event)">
        ></app-register-form>
      }
      @case ('forgot-password') {
        <app-forgot-password-form></app-forgot-password-form>
      }
    }
  </div>

  <div class="portal-video-roll">

  </div>
</div>
