:root {
  --color-primary: #7100fb;
  --color-primary-dark: #4500a1;
  --color-primary-faded: #a978e1;
  --color-background: #eaeae1;
  --color-background-faded: #bcbab0;
  --color-success: #4bef4b;
  --color-error: #f44336;
  --color-gray: #888888;
  --color-text: #1b1919;
  --color-disabled: #cccccc;
  --color-white-text: #ffffff;
  --color-black-text: #000000;
}
