<div class="redirect-widget-content">
  <div class="redirect-widget-title-container">
    <h2 class="redirect-widget-title">
      {{ 'verify-account.verify-account-invalid-token-title' | translate }}
    </h2>
  </div>

  <div class="redirect-widget-icon-container">
    <i
      class="redirect-widget-icon error-message fa-solid fa-link-slash">
    </i>
  </div>

  <div class="redirect-widget-details-container">
    <span class="background-color-message">
      <i class="fa-solid fa-circle-exclamation error-message"></i>
      {{ 'verify-account.verify-account-invalid-token-description' | translate }}
      <a class="redirect-link" (click)="$event.preventDefault(); resendVerificationEmail()">{{ 'verify-account.resend-verification-email' | translate }}</a>
    </span>
  </div>

  @if(resentVerificationEmailMessage) {
    <div class="redirect-widget-details-container">
      <span
        class="background-color-message"
        [class.success-message]="success"
        [class.error-message]="!success">
        <i
          class="fa-solid"
          [class.success-message]="success"
          [class.error-message]="!success"
          [class.fa-check-circle]="success"
          [class.fa-circle-exclamation]="!success"></i>
        {{ resentVerificationEmailMessage | translate }}
      </span>
    </div>
  }

  <div class="redirect-widget-redirect">
    <button
      type="button"
      class="btn-primary redirect-widget-btn"
      (click)="returnToLoginClick()">
      {{ 'verify-account.redirect-to-login' | translate }}
    </button>
  </div>
</div>
