.dataset-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 1rem 1.25rem;
  background-color: var(--color-background);
  border: 1px solid var(--color-disabled);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem var(--color-shadow-faint);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.dataset-row:hover {
  transform: translateY(-0.125rem);
  box-shadow: 0 0.25rem 0.5rem var(--color-shadow-light);
}

.dataset-actions-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.dataset-action {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
